<div class='row'>
  <div class='col-md-4'>
    <app-product-list
      [errorMessage]="errorMessage$ | async"
      [displayCode]="displayCode$ | async"
      [products]="products$ | async"
      [selectedProduct]="selectedProduct$ | async"
      (checked)="checkChanged($event)"
      (initializeNewProduct)="newProduct()"
      (selected)="productSelected($event)"></app-product-list>
  </div>
  <div class='col-md-8'>
    <app-product-edit
      [errorMessage]="errorMessage$ | async"
      [selectedProduct]="selectedProduct$ | async"
      (clearCurrent)="clearProduct()"
      (create)="saveProduct($event)"
      (update)="updateProduct($event)"
      (delete)="deleteProduct($event)"></app-product-edit>
  </div>
</div>